---
import Master from "layouts/master.astro";
import data from "pages/examples/mail/data";
import moment from "moment";
---

<Master>
  <div class="flex divide-x divide-border">
    <div class="w-14 lg:w-64 xl:w-72">
      <div
        class="flex h-14 items-center justify-center border-b border-border px-4 py-2"
      >
        <div class="flex-1 lg:hidden">
          <button class="uk-icon-button">
            <span class="size-4">
              <uk-icon icon="user-circle"></uk-icon>
            </span>
          </button>

          <div
            class="uk-drop uk-dropdown w-56"
            uk-dropdown="mode: click; pos: bottom-left; shift: false; flip: false"
          >
            <ul class="uk-dropdown-nav uk-nav">
              <li class="uk-active">
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  <div class="flex flex-1 items-center gap-2">
                    <uk-icon icon="log-in"></uk-icon>
                    <span class="">alicia@example.com</span>
                  </div>
                  <span class="size-4">
                    <uk-icon icon="check"></uk-icon>
                  </span>
                </a>
              </li>
              <li>
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  <div class="flex flex-1 items-center gap-2">
                    <uk-icon icon="log-out"></uk-icon>
                    <span class="">alicia@yahoo.com</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  <div class="flex flex-1 items-center gap-2">
                    <uk-icon icon="log-out"></uk-icon>
                    <span class="">alicia@cloud.com</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="hidden flex-1 lg:block">
          <button class="uk-button uk-button-default w-full">
            <div class="flex flex-1 items-center gap-2">
              <span class="size-4">
                <uk-icon icon="log-in"></uk-icon>
              </span>
              <span class="">Alicia Koch</span>
            </div>
            <span class="size-4">
              <uk-icon icon="chevrons-up-down"></uk-icon>
            </span>
          </button>

          <div
            class="uk-drop uk-dropdown lg:w-56 xl:w-64"
            uk-dropdown="mode: click; pos: bottom-left; shift: false; flip: false"
          >
            <ul class="uk-dropdown-nav uk-nav">
              <li class="uk-active">
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  <div class="flex flex-1 items-center gap-2">
                    <uk-icon icon="log-in"></uk-icon>
                    <span class="">alicia@example.com</span>
                  </div>
                  <span class="size-4">
                    <uk-icon icon="check"></uk-icon>
                  </span>
                </a>
              </li>
              <li>
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  <div class="flex flex-1 items-center gap-2">
                    <uk-icon icon="log-out"></uk-icon>
                    <span class="">alicia@yahoo.com</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  <div class="flex flex-1 items-center gap-2">
                    <uk-icon icon="log-out"></uk-icon>
                    <span class="">alicia@cloud.com</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="lg:hidden">
        <div
          class="flex justify-center border-b border-border md:p-2 lg:px-4 lg:py-2"
        >
          <ul class="uk-iconnav uk-iconnav-vertical">
            <li class="uk-active">
              <a href="#demo" uk-toggle uk-tooltip="title: Inbox; pos: right">
                <span class="sr-only">Inbox</span>
                <span class="size-4">
                  <uk-icon icon="inbox"></uk-icon>
                </span>
              </a>
            </li>
            <li>
              <a href="#demo" uk-toggle uk-tooltip="title: Draft; pos: right">
                <span class="sr-only">Draft</span>
                <span class="size-4">
                  <uk-icon icon="sticky-note"></uk-icon>
                </span>
              </a>
            </li>
            <li>
              <a href="#demo" uk-toggle uk-tooltip="title: Sent; pos: right">
                <span class="sr-only">Sent</span>
                <span class="size-4">
                  <uk-icon icon="send"></uk-icon>
                </span>
              </a>
            </li>
            <li>
              <a href="#demo" uk-toggle uk-tooltip="title: Junk; pos: right">
                <span class="sr-only">Junk</span>
                <span class="size-4">
                  <uk-icon icon="archive-x"></uk-icon>
                </span>
              </a>
            </li>
            <li>
              <a href="#demo" uk-toggle uk-tooltip="title: Trash; pos: right">
                <span class="sr-only">Trash</span>
                <span class="size-4">
                  <uk-icon icon="trash-2"></uk-icon>
                </span>
              </a>
            </li>
            <li>
              <a href="#demo" uk-toggle uk-tooltip="title: Archive; pos: right">
                <span class="sr-only">Archive</span>
                <span class="size-4">
                  <uk-icon icon="archive"></uk-icon>
                </span>
              </a>
            </li>
          </ul>
        </div>

        <div class="flex justify-center md:p-2 lg:px-4 lg:py-2">
          <ul class="uk-iconnav uk-iconnav-vertical">
            <li>
              <a href="#demo" uk-toggle uk-tooltip="title: Social; pos: right">
                <span class="sr-only">Social</span>
                <span class="size-4">
                  <uk-icon icon="users-round"></uk-icon>
                </span>
              </a>
            </li>
            <li>
              <a href="#demo" uk-toggle uk-tooltip="title: Updates; pos: right">
                <span class="sr-only">Updates</span>
                <span class="size-4">
                  <uk-icon icon="octagon-alert"></uk-icon>
                </span>
              </a>
            </li>
            <li>
              <a href="#demo" uk-toggle uk-tooltip="title: Forums; pos: right">
                <span class="sr-only">Forums</span>
                <span class="size-4">
                  <uk-icon icon="messages-square"></uk-icon>
                </span>
              </a>
            </li>
            <li>
              <a
                href="#demo"
                uk-toggle
                uk-tooltip="title: Shopping; pos: right"
              >
                <span class="sr-only">Shopping</span>
                <span class="size-4">
                  <uk-icon icon="shopping-cart"></uk-icon>
                </span>
              </a>
            </li>
            <li>
              <a
                href="#demo"
                uk-toggle
                uk-tooltip="title: Promotions; pos: right"
              >
                <span class="sr-only">Promotions</span>
                <span class="size-4">
                  <uk-icon icon="archive"></uk-icon>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="hidden p-1 lg:block">
        <ul class="uk-nav uk-nav-primary">
          <li class="uk-active">
            <a class="justify-between" href="#demo" uk-toggle>
              <div class="flex items-center gap-x-2">
                <span class="size-4">
                  <uk-icon icon="inbox"></uk-icon>
                </span>
                <span>Inbox</span>
              </div>
              <span>128</span>
            </a>
          </li>
          <li>
            <a href="#demo" uk-toggle class="justify-between">
              <div class="flex items-center gap-x-2">
                <span class="size-4">
                  <uk-icon icon="sticky-note"></uk-icon>
                </span>
                <span>Draft</span>
              </div>
              <span>9</span>
            </a>
          </li>
          <li>
            <a href="#demo" uk-toggle class="justify-between">
              <div class="flex items-center gap-x-2">
                <span class="size-4">
                  <uk-icon icon="send"></uk-icon>
                </span>
                <span>Sent</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#demo" uk-toggle class="justify-between">
              <div class="flex items-center gap-x-2">
                <span class="size-4">
                  <uk-icon icon="archive-x"></uk-icon>
                </span>
                <span>Junk</span>
              </div>
              <span>23</span>
            </a>
          </li>
          <li>
            <a href="#demo" uk-toggle class="justify-between">
              <div class="flex items-center gap-x-2">
                <span class="size-4">
                  <uk-icon icon="trash-2"></uk-icon>
                </span>
                <span>Trash</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#demo" uk-toggle class="justify-between">
              <div class="flex items-center gap-x-2">
                <span class="size-4">
                  <uk-icon icon="archive"></uk-icon>
                </span>
                <span>Archive</span>
              </div>
            </a>
          </li>
          <li class="uk-nav-divider -mx-1"></li>
          <li>
            <a href="#demo" uk-toggle class="justify-between">
              <div class="flex items-center gap-x-2">
                <span class="size-4">
                  <uk-icon icon="users-round"></uk-icon>
                </span>
                <span>Social</span>
              </div>
              <span>972</span>
            </a>
          </li>
          <li>
            <a href="#demo" uk-toggle class="justify-between">
              <div class="flex items-center gap-x-2">
                <span class="size-4">
                  <uk-icon icon="octagon-alert"></uk-icon>
                </span>
                <span>Updates</span>
              </div>
              <span>342</span>
            </a>
          </li>
          <li>
            <a href="#demo" uk-toggle class="justify-between">
              <div class="flex items-center gap-x-2">
                <span class="size-4">
                  <uk-icon icon="messages-square"></uk-icon>
                </span>
                <span>Forums</span>
              </div>
              <span>128</span>
            </a>
          </li>
          <li>
            <a href="#demo" uk-toggle class="justify-between">
              <div class="flex items-center gap-x-2">
                <span class="size-4">
                  <uk-icon icon="shopping-cart"></uk-icon>
                </span>
                <span>Shopping</span>
              </div>
              <span>8</span>
            </a>
          </li>
          <li>
            <a href="#demo" uk-toggle class="justify-between">
              <div class="flex items-center gap-x-2">
                <span class="size-4">
                  <uk-icon icon="archive"></uk-icon>
                </span>
                <span>Promotions</span>
              </div>
              <span>21</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid flex-1 grid-cols-2 divide-x divide-border">
      <div class="flex flex-col" uk-filter="target: .js-filter">
        <div
          class="flex h-14 flex-none items-center border-b border-border px-4 py-2"
        >
          <h1 class="text-xl font-bold">Inbox</h1>
          <ul class="uk-tab-alt ml-auto max-w-40">
            <li class="uk-active" uk-filter-control="filter: .tag-mail">
              <a href="#">All mail</a>
            </li>
            <li uk-filter-control="filter: .tag-unread">
              <a href="#">Unread</a>
            </li>
          </ul>
        </div>

        <div class="flex flex-1 flex-col">
          <div class="p-4">
            <div class="uk-inline w-full">
              <span class="uk-form-icon text-muted-foreground">
                <span class="size-4">
                  <uk-icon icon="search"></uk-icon>
                </span>
              </span>
              <input class="uk-input" type="text" placeholder="Search" />
            </div>
          </div>

          <div class="max-h-[600px] flex-1 overflow-y-auto">
            <ul class="js-filter space-y-2 p-4 pt-0">
              {
                data.map((mail, a) => (
                  <li
                    class={`tag-mail relative rounded-lg border border-border p-3 text-sm hover:bg-accent ${a === 0 ? "bg-muted" : ""} ${mail.read === false ? "tag-unread" : ""}`}
                  >
                    <div class="flex w-full flex-col gap-1">
                      <div class="flex items-center">
                        <div class="flex items-center gap-2">
                          <div class="font-semibold">{mail.name}</div>
                          {mail.read === false ? (
                            <span class="flex h-2 w-2 rounded-full bg-blue-600" />
                          ) : (
                            ""
                          )}
                        </div>
                        <div class="ml-auto text-xs text-foreground">
                          {moment(mail.date).fromNow()}
                        </div>
                      </div>
                      <a
                        class="text-xs font-medium"
                        href={`/mail/partials/inbox/${mail.id}`}
                        hx-get={`/examples/mail/partials/inbox/${mail.id}`}
                        hx-target="#test"
                        hx-swap="innerHTML"
                      >
                        {mail.subject}
                        <span class="absolute inset-0" />
                      </a>
                      <div class="line-clamp-2 text-xs text-muted-foreground">
                        {mail.text}
                      </div>
                      <div class="flex items-center gap-2">
                        {mail.labels.map((a: any) => (
                          <a
                            class={`uk-label relative z-10 ${a === "work" ? "uk-label-primary" : ""}`}
                            href="#demo"
                            uk-toggle
                          >
                            {a}
                          </a>
                        ))}
                      </div>
                    </div>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>

      <div class="flex flex-col">
        <div
          class="flex h-14 flex-none items-center border-b border-border p-2"
        >
          <div class="flex w-full justify-between">
            <div class="flex gap-x-2 divide-x divide-border">
              <ul class="uk-iconnav">
                <li>
                  <a href="#demo" uk-toggle uk-tooltip="Archive">
                    <span class="sr-only">Archive</span>
                    <span class="size-4">
                      <uk-icon icon="archive"></uk-icon>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#demo" uk-toggle uk-tooltip="Move to junk">
                    <span class="sr-only">Move to junk</span>
                    <span class="size-4">
                      <uk-icon icon="archive-x"></uk-icon>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#demo" uk-toggle uk-tooltip="Move to trash">
                    <span class="sr-only">Move to trash</span>
                    <span class="size-4">
                      <uk-icon icon="trash-2"></uk-icon>
                    </span>
                  </a>
                </li>
              </ul>
              <ul class="uk-iconnav pl-2">
                <li>
                  <a href="#demo" uk-toggle uk-tooltip="Snooze">
                    <span class="sr-only">Snooze</span>
                    <span class="size-4">
                      <uk-icon icon="clock"></uk-icon>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="flex gap-x-2 divide-x divide-border">
              <ul class="uk-iconnav">
                <li>
                  <a href="#demo" uk-toggle uk-tooltip="Reply">
                    <span class="sr-only">Reply</span>
                    <span class="size-4">
                      <uk-icon icon="reply"></uk-icon>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#demo" uk-toggle uk-tooltip="Reply all">
                    <span class="sr-only">Reply all</span>
                    <span class="size-4">
                      <uk-icon icon="reply-all"></uk-icon>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#demo" uk-toggle uk-tooltip="Forward">
                    <span class="sr-only">Forward</span>
                    <span class="size-4">
                      <uk-icon icon="forward"></uk-icon>
                    </span>
                  </a>
                </li>
              </ul>
              <ul class="uk-iconnav pl-2">
                <li>
                  <a href="#demo" uk-toggle>
                    <span class="sr-only">Menu</span>
                    <span class="size-4">
                      <uk-icon icon="ellipsis-vertical"></uk-icon>
                    </span>
                  </a>
                  <div
                    class="uk-drop uk-dropdown"
                    uk-dropdown="pos: bottom-right; mode: click"
                  >
                    <ul class="uk-dropdown-nav uk-nav">
                      <li>
                        <a class="uk-drop-close" href="#demo" uk-toggle>
                          Mark as unread
                        </a>
                      </li>
                      <li>
                        <a class="uk-drop-close" href="#demo" uk-toggle>
                          Star thread
                        </a>
                      </li>
                      <li>
                        <a class="uk-drop-close" href="#demo" uk-toggle>
                          Add label
                        </a>
                      </li>
                      <li>
                        <a class="uk-drop-close" href="#demo" uk-toggle>
                          Mute thread
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="flex flex-1 flex-col" id="test">
          <div class="flex-1">
            <div class="flex items-start p-4">
              <div class="flex items-start gap-4 text-sm">
                <span
                  class="flex h-10 w-10 items-center justify-center rounded-full bg-muted"
                >
                  WS
                </span>
                <div class="grid gap-1">
                  <div class="font-semibold">William Smith</div><div
                    class="line-clamp-1 text-xs"
                  >
                    Meeting Tomorrow
                  </div><div class="line-clamp-1 text-xs">
                    <span class="font-medium">Reply-To:</span>
                    williamsmith@example.com
                  </div>
                </div>
              </div><div class="ml-auto text-xs text-muted-foreground">
                Oct 22, 2023, 9:00:00 AM
              </div>
            </div>
            <div class="flex-1 space-y-4 border-t border-border p-4 text-sm">
              <p>
                Hi, let's have a meeting tomorrow to discuss the project. I've
                been reviewing the project details and have some ideas I'd like
                to share. It's crucial that we align on our next steps to ensure
                the project's success.
              </p>
              <p>
                Please come prepared with any questions or insights you may
                have. Looking forward to our meeting!
              </p>
              <p>Best regards, William</p>
            </div>
          </div>
          <div class="flex-none space-y-4 border-t border-border p-4">
            <div class="">
              <label for="message" class="sr-only">Message</label>
              <textarea
                class="uk-textarea"
                id="message"
                placeholder="Reply William Smith"></textarea>
            </div>
            <div class="flex justify-between">
              <label
                class="inline-flex items-center gap-x-2 text-xs"
                for="mute"
              >
                <input
                  class="uk-toggle-switch uk-toggle-switch-primary"
                  id="mute"
                  type="checkbox"
                />
                Mute this thread
              </label>
              <button class="uk-button uk-button-primary" uk-toggle="#demo">
                Send
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script is:inline>
    document.addEventListener("htmx:afterRequest", function (event) {
      document.querySelectorAll(".tag-mail").forEach(function (li) {
        li.classList.remove("bg-muted");
      });

      event.detail.elt.closest("li").classList.add("bg-muted");
    });
  </script>
</Master>
