---
import Master from "layouts/master.astro";
---

<Master>
  <div class="flex h-9 items-center border-b border-border px-2 py-1 shadow-sm">
    <nav class="flex space-x-1 text-sm">
      <a class="px-3 py-1 font-bold" href="#"> Music </a>
      <div
        class="uk-drop uk-dropdown"
        uk-dropdown="mode: click; pos: bottom-left"
      >
        <ul class="uk-dropdown-nav uk-nav">
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              About Music
            </a>
          </li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Preferences
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⌘,
              </span>
            </a>
          </li>
          <li class="uk-nav-divider"></li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Hide Music
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⌘H
              </span>
            </a>
          </li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Hide Others
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⇧⌘H
              </span>
            </a>
          </li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Quit Music
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⌘Q
              </span>
            </a>
          </li>
        </ul>
      </div>

      <a class="px-3 py-1" href="#">File</a>
      <div
        class="uk-drop uk-dropdown"
        uk-dropdown="mode: click; pos: bottom-left"
      >
        <ul class="uk-dropdown-nav uk-nav">
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              New
            </a>
          </li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Open Stream URL
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⌘U
              </span>
            </a>
          </li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Close Window
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⌘W
              </span>
            </a>
          </li>
          <li class="uk-nav-divider"></li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Library
            </a>
          </li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Import
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⌘O
              </span>
            </a>
          </li>
          <li>
            <a class="opacity-50"> Burn Playlist to Disc </a>
          </li>
          <li class="uk-nav-divider"></li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Show in Finder
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⇧⌘R
              </span>
            </a>
          </li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Convert
            </a>
          </li>
          <li class="uk-nav-divider"></li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Page Setup
            </a>
          </li>
          <li>
            <a class="opacity-50">Print</a>
          </li>
        </ul>
      </div>

      <a class="px-3 py-1" href="#">Edit</a>
      <div
        class="uk-drop uk-dropdown"
        uk-dropdown="mode: click; pos: bottom-left"
      >
        <ul class="uk-dropdown-nav uk-nav">
          <li>
            <a class="opacity-50">
              Undo
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⌘Z
              </span>
            </a>
          </li>
          <li>
            <a class="opacity-50">
              Redo
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⇧⌘Z
              </span>
            </a>
          </li>
          <li class="uk-nav-divider"></li>
          <li>
            <a class="opacity-50">
              Cut
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⌘X
              </span>
            </a>
          </li>
          <li>
            <a class="opacity-50">
              Copy
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⌘C
              </span>
            </a>
          </li>
          <li>
            <a class="opacity-50">
              Paste
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⌘V
              </span>
            </a>
          </li>
          <li class="uk-nav-divider"></li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Select All
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⌘A
              </span>
            </a>
          </li>
          <li>
            <a class="opacity-50">
              Deselect All
              <span class="ml-auto text-xs tracking-widest opacity-60">
                ⇧⌘A
              </span>
            </a>
          </li>
          <li class="uk-nav-divider"></li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Smart Dictation
              <span class="ml-auto text-muted-foreground">
                <uk-icon icon="mic-vocal"></uk-icon>
              </span>
            </a>
          </li>
          <li>
            <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
              Emojis & Symbols
              <span class="ml-auto text-muted-foreground">
                <uk-icon icon="globe"></uk-icon>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <a class="px-3 py-1" href="#">View</a>
      <div class="uk-drop uk-dropdown" uk-drop="mode: click; pos: bottom-left">
        <ul class="uk-dropdown-nav">
          <li>
            <a class="uk-drop-close" href="#demo" uk-toggle>
              <span class="ml-6">Show Playing Next</span>
            </a>
          </li>
          <li>
            <a class="uk-drop-close" href="#demo" uk-toggle>
              <uk-icon class="mr-2" icon="check"></uk-icon>
              Show Lyrics
            </a>
          </li>
          <li>
            <a class="opacity-50">
              <span class="ml-6">Show Status Bar</span>
            </a>
          </li>
          <li>
            <a class="uk-drop-close" href="#demo" uk-toggle>
              <span class="ml-6">Hide Sidebar</span>
            </a>
          </li>
          <li>
            <a class="opacity-50">
              <span class="ml-6">Enter Full Screen</span>
            </a>
          </li>
        </ul>
      </div>

      <a class="px-3 py-1" href="#">Account</a>
      <div class="uk-drop uk-dropdown" uk-drop="mode: click; pos: bottom-left">
        <ul class="uk-dropdown-nav">
          <li class="uk-nav-header">
            <span class="ml-6"> Switch Account </span>
          </li>
          <li class="uk-nav-divider"></li>
          <li>
            <a class="uk-drop-close" href="#demo" uk-toggle>
              <span class="ml-6">Andy</span>
            </a>
          </li>
          <li>
            <a class="uk-drop-close" href="#demo" uk-toggle>
              <uk-icon class="mr-2" icon="circle-dot"></uk-icon>
              Benoit
            </a>
          </li>
          <li>
            <a class="uk-drop-close" href="#demo" uk-toggle>
              <span class="ml-6">Luis</span>
            </a>
          </li>
          <li class="uk-nav-divider"></li>
          <li>
            <a class="uk-drop-close" href="#demo" uk-toggle>
              <span class="ml-6">Manage Family</span>
            </a>
          </li>
          <li class="uk-nav-divider"></li>
          <li>
            <a class="uk-drop-close" href="#demo" uk-toggle>
              <span class="ml-6">Add Account</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="grid grid-cols-5">
    <div class="hidden space-y-4 py-4 lg:block">
      <div class="px-3 py-2">
        <h2 class="mb-2 px-3 text-lg font-semibold tracking-tight">Discover</h2>
        <ul class="uk-nav uk-nav-secondary">
          <li class="uk-active">
            <a class="font-medium" href="#demo" uk-toggle>
              <span class="mr-2 size-4">
                <uk-icon icon="circle-play"></uk-icon>
              </span>
              Listen Now
            </a>
          </li>
          <li>
            <a class="font-medium" href="#demo" uk-toggle>
              <span class="mr-2 size-4">
                <uk-icon icon="binoculars"></uk-icon>
              </span>
              Browse
            </a>
          </li>
          <li>
            <a class="font-medium" href="#demo" uk-toggle>
              <span class="mr-2 size-4">
                <uk-icon icon="radio"></uk-icon>
              </span>
              Radio
            </a>
          </li>
        </ul>
      </div>

      <div class="px-3 py-2">
        <h2 class="mb-2 px-3 text-lg font-semibold tracking-tight">Library</h2>
        <ul class="uk-nav uk-nav-secondary">
          <li>
            <a class="font-medium" href="#demo" uk-toggle>
              <span class="mr-2 size-4">
                <uk-icon icon="list-music"></uk-icon>
              </span>
              Playlists
            </a>
          </li>
          <li>
            <a class="font-medium" href="#demo" uk-toggle>
              <span class="mr-2 size-4">
                <uk-icon icon="music-2"></uk-icon>
              </span>
              Songs
            </a>
          </li>
          <li>
            <a class="font-medium" href="#demo" uk-toggle>
              <span class="mr-2 size-4">
                <uk-icon icon="user"></uk-icon>
              </span>
              Made for You
            </a>
          </li>
          <li>
            <a class="font-medium" href="#demo" uk-toggle>
              <span class="mr-2 size-4">
                <uk-icon icon="mic-vocal"></uk-icon>
              </span>
              Artists
            </a>
          </li>
          <li>
            <a class="font-medium" href="#demo" uk-toggle>
              <span class="mr-2 size-4">
                <uk-icon icon="library"></uk-icon>
              </span>
              Albums
            </a>
          </li>
        </ul>
      </div>

      <div class="px-3 py-2">
        <h2 class="mb-2 px-3 text-lg font-semibold tracking-tight">
          Playlists
        </h2>
        <div class="max-h-60 overflow-y-auto">
          <ul class="uk-nav uk-nav-secondary">
            {
              [
                "Recently Added",
                "Recently Played",
                "Top Songs",
                "Top Albums",
                "Top Artists",
                "Logic Discography",
                "Bedtime Beats",
                "I miss Y2K Pop",
              ].map((a) => (
                <li>
                  <a class="font-medium" href="#demo" uk-toggle>
                    <span class="mr-2 size-4">
                      <uk-icon icon="library" />
                    </span>
                    {a}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>

    <div class="col-span-5 border-l border-border lg:col-span-4">
      <div class="px-8 py-6">
        <div class="flex items-center justify-between">
          <div class="max-w-80">
            <ul
              class="uk-tab-alt"
              uk-switcher="connect: #component-nav; animation: uk-animation-fade"
            >
              <li class="uk-active">
                <a href="#">Music</a>
              </li>
              <li>
                <a href="#">Podcasts</a>
              </li>
              <li class="uk-disabled">
                <a class="opacity-50">Live</a>
              </li>
            </ul>
          </div>

          <div class="">
            <button class="uk-button uk-button-primary" uk-toggle="#demo">
              <span class="mr-2 size-4">
                <uk-icon icon="circle-plus"></uk-icon>
              </span>
              Add music
            </button>
          </div>
        </div>

        <ul id="component-nav" class="uk-switcher mt-6">
          <li>
            <div class="space-y-1">
              <h2 class="text-2xl font-semibold tracking-tight">Listen Now</h2>
              <p class="text-sm text-muted-foreground">
                Top picks for you. Updated daily.
              </p>
            </div>

            <div class="my-4 h-[1px] w-full bg-border"></div>

            <div class="grid grid-cols-4 gap-x-4">
              {
                [
                  {
                    title: "Roar",
                    artist: "Catty Perry",
                    cover: "/images/placeholder.svg",
                  },
                  {
                    title: "Feline on a Prayer",
                    artist: "Cat Jovi",
                    cover: "/images/placeholder.svg",
                  },
                  {
                    title: "Fur Elise",
                    artist: "Ludwig van Beethovpurr",
                    cover: "/images/placeholder.svg",
                  },
                  {
                    title: "Purrple Rain",
                    artist: "Prince's Cat",
                    cover: "/images/placeholder.svg",
                  },
                ].map((a) => (
                  <div class="space-y-3">
                    <div class="overflow-hidden rounded-md">
                      <img
                        class="transition-transform duration-200 hover:scale-105"
                        src={a.cover}
                        alt=""
                      />
                    </div>

                    <div class="space-y-1 text-sm">
                      <h3 class="font-medium leading-none">{a.title}</h3>
                      <p class="text-xs text-muted-foreground">{a.artist}</p>
                    </div>
                  </div>
                ))
              }
            </div>

            <div class="mt-6 space-y-1">
              <h2 class="text-2xl font-semibold tracking-tight">
                Made for You
              </h2>
              <p class="text-sm text-muted-foreground">
                Your personal playlists. Updated daily.
              </p>
            </div>

            <div class="my-4 h-[1px] w-full bg-border"></div>

            <div class="grid grid-cols-6 gap-x-4">
              {
                [
                  {
                    title: "Like a Feline",
                    artist: "Catdonna",
                    cover: "/images/placeholder.svg",
                  },
                  {
                    title: "Livin' La Vida Purrda",
                    artist: "Ricky Catin",
                    cover: "/images/placeholder.svg",
                  },
                  {
                    title: "Meow Meow Rocket",
                    artist: "Elton Cat",
                    cover: "/images/placeholder.svg",
                  },
                  {
                    title: "Rolling in the Purr",
                    artist: "Catdelle",
                    cover: "/images/placeholder.svg",
                  },
                  {
                    title: "Purrs of Silence",
                    artist: "Cat Garfunkel",
                    cover: "/images/placeholder.svg",
                  },
                  {
                    title: "Meow Me Maybe",
                    artist: "Carly Rae Purrsen",
                    cover: "/images/placeholder.svg",
                  },
                ].map((a) => (
                  <div class="space-y-3">
                    <div class="overflow-hidden rounded-md">
                      <img
                        class="transition-transform duration-200 hover:scale-105"
                        src={a.cover}
                        alt=""
                      />
                    </div>

                    <div class="space-y-1 text-sm">
                      <h3 class="font-medium leading-none">{a.title}</h3>
                      <p class="text-xs text-muted-foreground">{a.artist}</p>
                    </div>
                  </div>
                ))
              }
            </div>
          </li>

          <li>
            <div class="space-y-1">
              <h2 class="text-2xl font-semibold tracking-tight">
                New Episodes
              </h2>
              <p class="text-sm text-muted-foreground">
                Your favorite podcasts. Updated daily.
              </p>
            </div>

            <div class="my-4 h-[1px] w-full bg-border"></div>

            <div
              class="uk-placeholder flex h-[450px] items-center justify-center rounded-md"
            >
              <div
                class="mx-auto flex max-w-[420px] flex-col items-center justify-center text-center"
              >
                <uk-icon width="40" height="40" icon="podcast"></uk-icon>
                <h3 class="mt-4 text-lg font-semibold">No episodes added</h3>
                <p class="mb-4 mt-2 text-sm text-muted-foreground">
                  You have not added any podcasts. Add one below.
                </p>
                <button class="uk-button uk-button-primary" uk-toggle="#demo">
                  Add Podcast
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</Master>
